* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper>div {

  padding: 1em;
  color: #1f1918
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.photo {
  grid-column: 1;
  grid-row: 1/3;
  padding: 0 !important;
}

.nothing {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  text-align: right;
}

.position {
  grid-column: 2 / 4;
  grid-row: 2;
}

.three {
  grid-column: 1;
  grid-row: 2 / 7;
}

.four {
  grid-column: 2/4;
  grid-row: 3;
}

.five {
  grid-column: 2/4;
  grid-row: 4;
}

.six {
  grid-column: 2/4;
  grid-row: 5;
}

.name {
  grid-column: 2/4;
  grid-row: 1
}

.profile {
  grid-column: 1;
  grid-row: 3;
}

.contact {
  grid-column: 1;
  grid-row: 4;
}

.lang {
  grid-column: 1;
  grid-row: 5;
}

.wrapperLang {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: start;
}

.wrapperLang2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.languages {
  grid-column: 1/2;
  grid-row: 1;
}

.addButton {
  grid-column: 2/2;
  grid-row: 1;
}

.rating {
  grid-column: 1/2;
  grid-row: 1;
}

test {
  color: #e8e9eb,
}

test1 {
  color: #b08b7b
}

test2 {
  color: #bdada9
}

test3 {
  color: #1f1918
}

test4 {
  color: #8a5e3e
}